<div class="container py-4">
  <app-barra-busqueda 
    [loading]="loading"
    (onBuscarUsuario)="onBuscarUsuario($event)"
    (onLimpiarBusqueda)="onLimpiarBusqueda()">
  </app-barra-busqueda>

<div *ngIf="error" class="alert alert-danger mt-3">
  {{ error }}
</div>

<app-info-usuario *ngIf="usuario" [usuario]="usuario"></app-info-usuario>
<app-info-posts
  *ngIf="usuario"
  [posts]="posts"
  [loading]="postsLoading"
  [error]="postsError">
</app-info-posts>


<div *ngIf="loading" class="mt-2 text-primary fw-bold">
  ⏳ Cargando datos del usuario...
</div>